<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ServerEnvironment" value="Development"/>
    <add key="CIPMSDefaultLogin" value="https://www.onehappycamper.org/CIPMS/Default.aspx"/>
  </appSettings>
  <connectionStrings>
    <add name="CIPMS" connectionString="integrated security=SSPI;data source=localhost;initial catalog=CIPMS;"/>
    <add name="CIPMSEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CIPMS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CIPMSEntities1" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CIPMS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="GemBox.ExcelLite, Version=25.3.0.1018, Culture=neutral, PublicKeyToken=B1B72C69714D4847"/>
        <add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms cookieless="UseCookies" defaultUrl="Default.aspx" enableCrossAppRedirects="false" loginUrl="Login.aspx" name="AUTH_CIPMS" path="/" protection="All" slidingExpiration="true" timeout="480"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <machineKey validationKey="39B2D534D5E12458A06EC963D1AF5E032DDEA333EDEB79E9010DFABCB79FFD39E2900221EEA4F5A68AD00ADF67AE1AD241049DA7D8CA0EF81D8ECFC2F500A4B7" decryptionKey="9246F03FDA0FAEFE59AF720C4B80D523DE31DCCE029DB7E7" validation="SHA1" decryption="3DES"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.


        -->
    <customErrors mode="Off" defaultRedirect="Error.aspx"/>
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <identity impersonate="false" password="wenlwenl" userName="wen"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>